body{
    background-color: #999999;
    color: black;
}
a:visited{
    color: white;
}
a:link{
    color: white;
}
.elso{
    width: 670px;
    border-collapse: collapse;
    padding: 2pt;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.belso{
    background-color: #485808;
    padding: 2pt;
    text-align: center;
    height: 60px;
}
h1{
    color: white;
}
tr{
    margin-left: auto;
    margin-right: auto;
}
.kozep{
    margin-left: auto;
    margin-right: auto;
}
}
#bal{
    float: left;
}